@{
    ViewData["Title"] = "Home Page";
}
<style>
video {
    max-width: 100%;
}

.decode-controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.decode-controls > button {
    transform: scale(1.5);
}

canvas {
    position: fixed;
    top:0;
    left: 0;
    opacity: 0;
    z-index: -9999;
}
</style>

    <p>Codigo: <b id="codigo"></b></p>
    <p>Formato: <b id="formato"></b></p>
    <p>Decodificado en: <b id="tiempo"></b></p>

    <div class="camara-controls">
        <button onclick="stopCamera()" class="btn btn-secondary">Detener Camara</button>
    </div>

    <div class="decode-controls">
        <button onclick="capture()" id="scan" class="btn btn-primary">Escanear</button>
    </div>

    <video autoplay id="camara"></video>
    <canvas id="canvas"></canvas>

<script src="~/js/test.js"></script>